name: 'Delete Repository'

on:
  workflow_dispatch:
    inputs:
      repository_name:
        description: 'Repository name'
        required: true
        type: string

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install
      - run: npx tsc
      - run: node dist/services/github/deleteRepository.js
        env:
          GITHUB_PAT: ${{ secrets.AUTOMATION_PAT }}
          REPO_NAME_TO_DELETE: ${{ github.event.inputs.repository_name || secrets.REPO_NAME_TO_DELETE }}
