name: 'Create New Repository'

on:
  workflow_dispatch:
    inputs:
      repository_name:
        description: 'The name for the new repository'
        required: true
        type: string

jobs:
  create_repo:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v4

      - name: 'Setup Node.js'
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: 'Install dependencies'
        run: npm install

      - name: 'Run the creation script'
        env:
          # Pass the PAT and the repo name to the script
          GITHUB_PAT: ${{ secrets.AUTOMATION_PAT }}
          NEW_REPO_NAME: ${{ github.event.inputs.repository_name }}
        run: npx ts-node src/services/setupRepository.ts